$red-color: hsl(0, 100%, 66%);
$white-color: hsl(0, 0%, 100%);
$light-grayish-violet: hsl(270, 3%, 87%);
$dark-grayish-violet: hsl(279, 6%, 55%);
$vary-dark-violet: hsl(278, 68%, 11%);

$breakpoint-extra-large: 1273px;
$breakpoint-large: 992px;
$breakpoint-mobile: 375px;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 18px;
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.container {
    display: grid;
    grid-template-columns: 1fr 2fr;

    @media (max-width: $breakpoint-extra-large) {
        grid-template-columns: 1fr 4fr;
        // grid-template-rows: 1fr 1fr;
    }

    @media (max-width: $breakpoint-mobile) {
        grid-template-columns: 1fr;
    }

    .form-container {
        display: grid;
        justify-content: center;
        align-content: center;
        position: relative;

        .bg-card-front {
            background: url(/images/bg-card-front.png);
            top: 10.4em;
            bottom: 0;
            left: -17.7em;
            padding: 1.55em 1.78em;
            color: $white-color;

            @media (max-width: $breakpoint-extra-large) {
                left: -25.8em;
            }

            @media (max-width: $breakpoint-mobile) {
                top: -7em;
                left: 1.5em;
                z-index: 11;
                padding: 17px 20px;

                img {
                    max-width: 51px;
                }
            }

            .card-number {
                font-size: 1.5em;
                font-weight: 400;
                letter-spacing: 4.1px;
                position: relative;
                top: 2.2em;

                @media (max-width: $breakpoint-mobile) {
                    font-size: .84em;
                }
            }

            .card-username,
            .card-expiration-date {
                position: relative;
                top: 6.1em;
                text-transform: uppercase;
                font-size: .78em;
                letter-spacing: 2px;
                font-weight: 400;

                @media (max-width: $breakpoint-mobile) {
                    top: 2.7em;
                    align-self: end;
                    font-size: 0.5em;
                    letter-spacing: 1px;
                    display: inline-block;
                }
            }

            .card-expiration-date {
                left: 24.7em;
                top: 5em;
                font-size: .75em;

                @media (max-width: $breakpoint-mobile) {
                    top: 0;
                    left: 0;
                    font-size: 0.55em;
                    align-self: end;
                    justify-self: end;
                }

                span {
                    font-size: inherit;
                    font-weight: inherit;
                    text-transform: inherit;
                }
            }
        }

        .bg-card-back {
            background: url(/images/bg-card-back.png);
            top: 26.05em;
            bottom: 0;
            left: -12.5em;

            @media (max-width: $breakpoint-extra-large) {
                left: -25.8em;
            }

            @media (max-width: $breakpoint-mobile) {
                top: -11.9em;
                left: 3.9em;
            }

            p {
                font-size: .78em;
                letter-spacing: 2px;
                position: relative;
                top: 7.9em;
                left: 25.4em;
                color: $white-color;

                @media (max-width: $breakpoint-mobile) {
                    left: 21.5em;
                    top: 6.6em;
                    width: min-content;
                    letter-spacing: 1px;
                    font-size: 0.6em;
                }
            }
        }

        .bg-card-front,
        .bg-card-back {
            height: 245px;
            box-shadow: 0px 25px 60px 30px rgba(33, 9, 47, 0.24);
            -webkit-box-shadow: 0px 25px 60px 30px rgba(33, 9, 47, 0.24);
            -moz-box-shadow: 0px 25px 60px 30px rgba(33, 9, 47, 0.24);
            border-radius: 12px;
            width: 447px;
            background-repeat: no-repeat;
            background-size: contain;
            display: block;
            position: absolute;

            @media (max-width: $breakpoint-mobile) {
                // box-shadow: none;
                width: 286px;
                height: 155px;
                background-size: cover;
                border-radius: 7px;
                display: grid;
            }
        }

        form {
            grid-template-columns: 380px;
            height: 350px;
            display: grid;
            /* align-content: space-between; */
            row-gap: .8em;
            box-sizing: content-box;

            @media (max-width: $breakpoint-mobile) {
                grid-template-columns: 1fr;
                margin-top: 5em;
            }

            .field {
                display: grid;
                row-gap: .5em;

                label {
                    text-transform: uppercase;
                    font-size: .67em;
                    color: $vary-dark-violet;
                    letter-spacing: 1.94px;
                    font-weight: 600;
                }

                input {
                    height: 45px;
                    border: 1px solid $light-grayish-violet;
                    border-radius: 8px;
                    padding: 0 .85em 0;
                    cursor: pointer;

                    &::placeholder {
                        color: $light-grayish-violet;
                    }

                    // &:focus {
                    //     outline: none;
                    //     border-color: $dark-grayish-violet;
                    // }
                }

                .error {
                    color: $red-color;
                    font-size: .68em;
                }

                .error::first-letter {
                    text-transform: capitalize;
                }
            }

            .row {
                display: grid;
                grid-template-columns: calc(50% - 10px) 50%;
                column-gap: 10px;

                .row-exp {
                    @extend .row;
                    grid-template-columns: repeat(2, calc(50% - 10px));
                }

                .field-row input {
                    width: 100%;
                }
            }

            button {
                height: 54px;
                align-self: end;
                background-color: $vary-dark-violet;
                color: $light-grayish-violet;
                border: none;
                border-radius: .4em;
                font-weight: 400;
                cursor: pointer;
            }
        }
    }

    form,
    .success {
        margin-left: 8.4vw;
        align-items: start;

        @media (max-width: $breakpoint-extra-large) {
            margin-left: 1vw;
            margin-right: 1vw;
        }

        @media (max-width: $breakpoint-mobile) {
            margin: 0 6vw;
        }
    }

    .success {
        display: none;
        justify-items: center;
        min-height: 290px;

        img {
            margin-bottom: 1.9em;
        }

        h2 {
            font-size: 1.55em;
            color: $vary-dark-violet;
            letter-spacing: 3.5px;
            text-transform: uppercase;
            margin-bottom: .6em;
        }

        p {
            color: $dark-grayish-violet;
            margin-bottom: 2.6em;
        }

        button {
            background-color: $vary-dark-violet;
            color: $light-grayish-violet;
            height: 53px;
            width: 380px;
            font-weight: 400;
            font-size: .95em;
            letter-spacing: .5px;
            border-radius: 8px;
            border: none;
        }
    }

}